@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Cookie&family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.cardHandler {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkMain {
    display: flex;
    justify-content: center;
}

.h3Handler {
    display: block;
    text-align: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 10vw;
    background-color: #f2e9db;
    margin: .3vw;
    border-radius: .3vw;
    padding: 2vw;
}

.cardDescription {
    color: #005836;
    font-family: 'Cookie', cursive;
    font-size: x-large;
}

.card>img {
    width: 13vw;
}

.toShip {
    font-family: "Bokor";
    font-size: 1.5vw;
    background-color: #c3a26d;
    padding: 2vw;
}

.toShipUnder {
    font-family: "Bokor";
    font-size: 1.5vw;
}

.toShipUnder2 {
    font-family: "EB Garamond", italic;
    font-size: 1.4vw;
}

.toShip:hover {
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px;
}

.toShip:active {
    transition: 0.1s;
    transform: scale(0.95);
    background-color: #805f2b;
}

@media (max-width: 990px) {
    .card {
        margin: 1vw 2vw;
        width: 30vw;
    }

    .card>img {
        width: 23vw;
    }
}

.remove-btn,
.decrease-btn,
.increase-btn {
    background-color: #c3a26d;
    margin: .5vw;
    padding: 2vw;
    font-family: "EB Garamond", italic;
    font-size: 1.2vw;
}

.remove-btn:hover,
.decrease-btn:hover,
.increase-btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px;
}

.title {
    font-family: 'Cookie', cursive;
    font-size: xx-large;
}