@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.cardHandler {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkMain {
    display: flex;
    justify-content: center;
}

.h3Handler {
    display: block;
    text-align: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 10vw;
    padding: .3vw 6vw;
    background-color: #ffffff53;
    margin: .3vw;
    border-radius: .3vw;
    padding: 2vw;
}

.card>img {
    width: 13vw;
}

.toShip {
    background-color: #524c4c8e;
    padding: 2vw;
}

.toShip:hover {
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px;
}

.toShip:active {
    transition: 0.1s;
    transform: scale(0.95);
    background-color: #2422228e;
}

@media (max-width: 990px) {

    .card {
        margin: 1vw 2vw;
        width: 30vw;
    }

    .card>img {
        width: 23vw;
    }
}

.remove-btn,
.decrease-btn,
.increase-btn {
    background-color: #524c4c8e;
    margin: .5vw;
    padding: 1vw;
    width: 6vw;
}

.remove-btn:hover,
.decrease-btn:hover,
.increase-btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px;
}

.title {
    font-family: 'Cookie', cursive;
}