div,
a,
button,
nav,
input {
    border: none;
    text-decoration: none;
}

.block {
    display: flex;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #ff6347;
}

button {
    background-color: #ffffff00;
}

main {
    padding: 0 0 2vw 0;
}

footer {
    background-color: #1c1c1c;
    color: azure;
}

footer a {
    text-decoration: underline;
    color: aqua;
}