@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&display=swap');

.headerHandler {
    display: flex;
    height: 15vw;
    background-color: rgb(255, 255, 255);
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: .5vw;
    justify-content: space-between;
    font-family: "Dancing Script", cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 10vw;
}

.toSmth>img {
    width: 2.5vw;
    height: 2.5vw;
    border: .15vw solid black;
    border-radius: .7vw;
    padding: .5vw;
}

.Hlogo {
    border: none;
}

.toSmth:hover {
    transition: 0.2s;
    transform: scale(1.15);
}

a {
    background-color: #ffffff00;
    color: #000;
}

header {
    background-image: linear-gradient(to right, green, #c0412b);
    color: #fff;
    padding: 1rem 0;
}

.headerHandler>a,
.headerHandler>a>img {
    height: auto;
    width: auto;
    max-width: 16vw;
    max-height: 8vw;
}

.headerHandler nav {
    display: flex;
    gap: 1rem;
}

nav div {
    display: flex;
    align-items: center;
}