@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


main {
    background-color: #484848;
}

.mainInfo {
    display: flex;
    justify-content: center;
}

.mainInfo>p {
    width: 80%;
}

.foodExample {
    display: flex;
    justify-content: center;
}

.foodExample>a {
    margin: 1vw 1vw;
}

.foodLine {
    height: 25vw;
    border-radius: 1vw;
}

.toShop {
    display: flex;
    justify-content: center;
}

.toShop>a,
.toShop>button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #3c7ee8;
    text-align: center;
    font-size: 1.3vw;
}

@media (max-width: 990px) {

    .foodExample {
        flex-direction: column;
    }

    * {
        font-size: 3vw;
    }

    h2 {
        text-align: center;
    }

    h1 {
        font-size: 3.8vw;
    }

    nav {
        justify-content: center;
        padding: 0 5vw 0 0;
    }

    .toSmth>img {
        width: 8vw;
        margin: 0 1vw;
    }

    .toShop>a {
        width: 55vw;
        height: 14vw;
        font-size: 7vw;
    }

    .foodLine {
        width: 50vw;
        height: auto;
    }

    .foodExample {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foodExample>a {
        width: 40vw;
    }
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 10px 20px;
}

.descriptionBlock {
    background: #ff6347;
    color: #ffffff;
    padding: .5rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Cookie", cursive;
}

.descriptionBlock h2 {
    font-size: 3rem;
}

.mainInfo {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #bc8989;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foodExample {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 2rem;
}

.foodExample a {
    flex: 1;
    text-align: center;
}

.foodExample img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.foodExample img:hover {
    transform: scale(1.05);
}

.toShop a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #ff6347;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.toShop a:hover {
    background-color: #e55340;
}